/* =========================
   BARRAS DE AUDIO JUANJIS
   ========================= */

.progress,
.volume-slider {
  appearance: none;
  -webkit-appearance: none;
  background: #d8cdbb;
  border-radius: 10px;
  cursor: pointer;
}


/* BARRA DE REPRODUCCIÓN */

.progress {
  flex: 1;
  height: 5px;
}


/* BARRA DE VOLUMEN */

.volume-slider {
  width: 120px;
  height: 5px;
}


/* =========================
   CHROME / EDGE / SAFARI
   ========================= */

.progress::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 5px;
  background: #d8cdbb;
  border-radius: 10px;
}


.progress::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 15px;
  height: 15px;

  margin-top: -5px;

  border-radius: 50%;

  background: #102a43;

  border: 2px solid #f5efe3;

  box-shadow: 0 0 0 1px #102a43;

  cursor: pointer;
}


/* =========================
   FIREFOX
   ========================= */

.progress::-moz-range-track,
.volume-slider::-moz-range-track {
  height: 5px;
  background: #d8cdbb;
  border-radius: 10px;
}


.progress::-moz-range-progress,
.volume-slider::-moz-range-progress {
  height: 5px;
  background: #102a43;
  border-radius: 10px;
}


.progress::-moz-range-thumb,
.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;

  border-radius: 50%;

  background: #102a43;

  border: 2px solid #f5efe3;

  cursor: pointer;
}
